{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if request.user.is_superuser %}
        <section class="pageForm2">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" style="margin-bottom: 0px;">
                        <p style="font-size: 17px; font-weight: bold;">{{ message }}</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="container mt-3">
                <div class="card my-5" style="box-shadow: 0px 0px 5px black; max-width: 60rem; margin: auto;">
                    <div class="card-body">
                        <h3 class="mb-4 text-center" style="font-size: 22px;">Agregar cambio de aceite</h3>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="date" class="form-label">Fecha del cambio </label>
                                <input type="date" name="date" id="date" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="car" class="form-label">Vehiculo a escoger</label>
                                <select name="car" id="car" class="form-control text-center" required>
                                    <option value="0" disabled selected>Seleccionar vehículo</option>
                                    {% for car in cars %}
                                        {% if car.is_superuser %}
                                        {% else %}
                                            <option value="{{ car.id }}">{{ car.username }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label class="form-label">Filtro de aire</label>
                                    <div class="d-flex justify-content-center">
                                        <div class="form-check form-check-inline">
                                            <input type="radio" name="air-filter" id="air-filter-Si" value="Si" class="form-check-input" checked>
                                            <label class="form-check-label" for="air-filter-Si">Sí</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="radio" name="air-filter" id="air-filter-No" value="No" class="form-check-input">
                                            <label class="form-check-label" for="air-filter-No">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Filtro de aceite</label>
                                    <div class="d-flex justify-content-center">
                                        <div class="form-check form-check-inline">
                                            <input type="radio" name="oil-filter" id="oil-filter-Si" value="Si" class="form-check-input" checked>
                                            <label class="form-check-label" for="oil-filter-Si">Sí</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="radio" name="oil-filter" id="oil-filter-No" value="No" class="form-check-input">
                                            <label class="form-check-label" for="oil-filter-No">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label class="form-label">Filtro de combustible</label>
                                    <div class="d-flex justify-content-center">
                                        <div class="form-check form-check-inline">
                                            <input type="radio" name="fuel-filter" id="fuel-filter-Si" value="Si" class="form-check-input" checked>
                                            <label class="form-check-label" for="fuel-filter-Si">Sí</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="radio" name="fuel-filter" id="fuel-filter-No" value="No" class="form-check-input">
                                            <label class="form-check-label" for="fuel-filter-No">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Trampa de agua</label>
                                    <div class="d-flex justify-content-center">
                                        <div class="form-check form-check-inline">
                                            <input type="radio" name="water-trap" id="water-trap-Si" value="Si" class="form-check-input" checked>
                                            <label class="form-check-label" for="water-trap-Si">Sí</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="radio" name="water-trap" id="water-trap-No" value="No" class="form-check-input">
                                            <label class="form-check-label" for="water-trap-No">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-outline-primary btn-block mx-auto" style="max-width: 200px;">Agregar cambio</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}