<!DOCTYPE html>
{% load static %}
{% load pwa %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Admin</title> 
    {% progressive_web_app_meta %}
    <meta name="description" content="{% block meta_description %}Panel Administrador de Wemasa{% endblock %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% if request.user.is_superuser %}
        <section class="back">
            <div class="container">
                <a href="/admin/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16" style="margin-top: 15px; margin-left: 10px; color: black;">
                        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
                    </svg>
                </a>
            </div>
        </section>
        <section class="admin_look">
            {% if car.is_superuser %}
                <h1>Usuario {{car.username}}</h1>
                <div class="container">
                    <div class="cars">
                        <div class="users">
                            <p>Nombre: <span style="font-weight: bold;">{{car.first_name}}</span></p>
                            <p>Apellidos: <span style="font-weight: bold;">{{car.last_name}}</span></p>
                            <p>Usuario: <span style="font-weight: bold;">{{car.username}}</span></p>
                            <p>Email: <span style="font-weight: bold;">{{car.email}}</span></p>
                            <div class="buttons">
                                <form action="{% url 'Eliminar_usuario' car.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <h1>Placa {{car.username}}</h1>
                <div class="container">
                    <div class="cars">
                        <div class="users">
                            <p>Marca: <span style="font-weight: bold;">{{car.first_name}}</span></p>
                            <p>Placa: <span style="font-weight: bold;">{{car.username}}</span></p>
                            {% if more_info %}
                                <p>Modelo: <span style="font-weight: bold;">{{more_info.model}}</span></p>
                                <p>Año: <span style="font-weight: bold;">{{more_info.year}}</span></p>
                            {% endif %}
                            {% if car.last_name == '1' %}
                                <p>Tipo de gasolina: <span style="font-weight: bold;">Havoline</span></p>
                            {% else %}
                                <p>Tipo de gasolina: <span style="font-weight: bold;">Chevron</span></p>
                            {% endif %}
                            <p>Última fecha de cambio de aceite: <span style="font-weight: bold;">{{oil.date_of_change}}</span></p>
                            <div class="buttons">
                                <a href="{% url 'Edit_user' car.id %}" class="btn btn-warning">Editar</a>
                                <form action="{% url 'Eliminar_usuario' car.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </section>
    {% else %}
    {% endif %}
</body>
</html>