{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    /* Estilo para ocultar los botones de incremento y decremento en Chrome, Safari y Edge */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Estilo para ocultar los botones de incremento y decremento en Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>
<section class="pageForm3">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" style="margin-bottom: 10px;">
                <p style="font-size: 17px; font-weight: bold;">{{ message }}</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="card">
            <div class="card-body">
                {% if request.user.is_superuser %}
                    <h3 style="font-weight: 75;">Reporte de Mantenimientos </h3>
                    <form action="" method="post">
                        {% csrf_token %}
                            <div class="date-input-wrapper mb-3 d-flex flex-column align-items-center">
                                <label for="date" class="form-label mb-1">Fecha</label>
                                <input type="date" name="date" id="date" class="form-control" style="width: 200px;" required>
                            </div>
                            <div class="mb-3">
                                <label for="carID" class="form-label">Vehiculo a escoger</label>
                                <select name="carID" id="carID" class="form-control text-center" required>
                                    <option value="0" disabled selected>Seleccionar vehículo</option>
                                    {% for car in users %}
                                        {% if car.is_superuser %}
                                        {% else %}
                                            <option value="{{ car.id }}">{{ car.username }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class=" mb-3">
                                <label for="maintenance" class="form-label">Mantenimiento pendiente</label>
                                <input type="text" name="maintenance" id="maintenance" class="form-control text-center-input" required>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Breve descripción</label>
                                <textarea name="description" id="description" class="form-control text-center" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="driver" class="form-label">Chofer</label>
                                <select name="driver" id="driver" class="form-control" required>
                                    <option value="0" selected disabled>Seleccione el conductor...</option>
                                    {% for driver in allDrivers %}
                                        <option value="{{ driver.id }}">{{ driver.user }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        <button type="submit" class="btn btn-outline-primary" style="margin-top: 10px;">Agregar reporte</button>
                    </form>
                {% else %}
                    <h3 style="font-weight: 65;">Solicitud de Mantenimiento </h3>
                    <form action="" method="post">{% csrf_token %}
                        <div class="date-input-wrapper mb-3 d-flex flex-column align-items-center">
                            <label for="date" class="form-label mb-1">Fecha</label>
                            <input type="date" name="date" id="date" class="form-control" style="width: 200px;" required>
                        </div>
                        <div class="mb-3">
                            <label for="maintenance" class="form-label">Especificaciones</label>
                            <input type="text" name="maintenance" id="maintenance" class="form-control text-center" required>
                        </div>

                        <div class="mb-3">
                            <label for="description" class="form-label">Breve descripción</label>
                            <textarea name="description" id="description" class="form-control text-center" required></textarea>
                        </div>
                        
                        <div class="mb-3">
                            <label for="driver" class="form-label">Chofer</label>
                            <select name="driver" id="driver" class="form-control" required>
                                <option value="0" selected disabled>Seleccione el conductor...</option>
                                {% for driver in allDrivers %}
                                    <option value="{{ driver.id }}">{{ driver.user }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-outline-primary" style="margin-top: 10px;">Solictar</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
